<footer>
    <div class="f-info">
        <a id="faceb" href="https://www.facebook.com/profile.php?id=100059622362711"><i
                class="fa-brands fa-facebook"></i></a>
        <a id="insta" href="https://www.instagram.com/rnh2vermaji/"><i class="fa-brands fa-instagram"></i></a>
        <a id="link" href="https://www.linkedin.com/in/mr-aman-verma/"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="brand-name">&copy; All Rights Reserved @ NestNova</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/tnc">Terms & Conditions</a>
        <a href="/rnc">Refunds & Cancellations</a>
        <a class="nav-link about-btn" href="/listings/about">About</a>
        <a href="/contact">Contact Us</a>
    </div>
    <!-- <div class="contact-info">
        <h3 class="contact-title">Contact Us</h3>
        <p>If you have any questions, feel free to reach out to us:</p>
        <ul class="contact-list">
            <li><strong>Email:</strong> <a href="mailto:9330nama@gmail.com">9330nama@gmail.com</a></li>
            <li><strong>Phone:</strong> +91 6289190768</li>
            <li><strong>Address:</strong> Kankinara, Kolkata, India</li>
        </ul>
    </div> -->
    <div class="footer-made-by">Made with <i class="fa-solid fa-heart"></i> by <a
            href="https://aman-iem.netlify.app/">Aman Verma</a></div>
</footer>