<% layout("/layout/boilerplate") -%>

    <body>
        <div class="row mt-4">
            <div class="col-8 offset-2">
                <h2>Create a new Listing</h2>
                <form method="post" action="/listings/new" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" name="title" placeholder="Enter Title" id="title" class="form-control"
                            required>
                        <div class="valid-feedback">Title valid</div>
                        <div class="invalid-feedback">Invalid Title</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea name="description" id="description" cols="30" rows="1" placeholder="Enter Description"
                            class="form-control" required></textarea>
                        <div class="valid-feedback">Description is valid</div>
                        <div class="invalid-feedback">Invalid Description</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image:</label>
                        <input type="file" name="image" id="image" class="form-control" required>
                        <!-- <textarea name="image" id="image" cols="30" rows="1" placeholder="Enter URL of Image"
                            class="form-control"></textarea> -->
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4 col-sm-12">
                            <label for="price" class="form-label">Price:</label>
                            <input type="text" id="price" name="price" placeholder="Enter Price" class="form-control"
                                required>
                            <div class="valid-feedback">Price is valid</div>
                            <div class="invalid-feedback">Invalid Price</div>
                        </div>
                        <div class="mb-3 col-md-8 sm-col-12">
                            <label for="location" class="form-label">Location:</label>
                            <input type="text" id="location" name="location" placeholder="Enter Location"
                                class="form-control" required>
                            <div class="valid-feedback">Location is valid</div>
                            <div class="invalid-feedback">Invalid Location</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" id="country" name="country" placeholder="Enter Country" class="form-control"
                            required>
                        <div class="valid-feedback">Country is valid</div>
                        <div class="invalid-feedback">Invalid Country</div>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Category:</label>
                        <select name="category" id="category" class="form-control" required>
                            <option value="">--Please Choose Category</option>
                            <option value="Trending">Trending</option>
                            <option value="Rooms">Rooms</option>
                            <option value="Bed & Breakfast">Bed & Breakfast</option>
                            <option value="Beaches">Beaches</option>
                            <option value="Pools">Pools</option>
                            <option value="Iconic Cities">Iconic Cities</option>
                            <option value="Mountains">Mountains</option>
                            <option value="Castles">Castles</option>
                            <option value="Camping">Camping</option>
                            <option value="Farms">Farms</option>
                            <option value="Arctic">Arctic</option>
                        </select>
                        <!-- <label for="country" class="form-label">Country</label>
                        <input type="text" id="country" name="country" placeholder="Enter Country" class="form-control"
                            required> -->
                        <div class="valid-feedback">Country is valid</div>
                        <div class="invalid-feedback">Invalid Country</div>
                    </div>
                    <button class="btn btn-primary add-btn mt-4 mb-4">Submit</button>
                </form>
            </div>
        </div><br>
    </body>