* {
    /* background-color: white !important; */
    /* width: 100%; */
    /* height: 100%; */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.container {
    flex: 1;
}

#navbar {
    height: 5rem;
    width: 100% !important;
    color: #222222 !important;
    background-color: white !important;
    display: flex;
    align-items: center;
    display: flex;
}

/* .nav-link {
    background-color: white !important;
} */

.navbar-nav {
    background-color: white !important;
}

.fa-compass {
    color: #fe424d;
    font-size: 2.25rem;
    margin-left: 1rem;
}

.fa-compass {
    margin-right: 1.5rem !important;
}

footer {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.f-info-links a {
    text-decoration: none;
    color: black;
    margin-right: 1.25rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info,
.brand-name,
.f-info-links {
    display: flex;
    flex-wrap: wrap;
    height: 3.3rem;
    width: 100%;
    background-color: #ebebeb;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fa-brands {
    font-size: 1.25rem;
    margin-right: 1.25rem;
}

.listing-link {
    text-decoration: none;
}

.card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 600 !important;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    background-color: white;
    opacity: 0.15;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.show-img {
    height: 60vh;
}

.show-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.btns {
    display: flex !important;
}

/* .delbtn{
    margin-left: 1rem !important;
} */

.show-page-main {
    width: 95% !important;
}

.data-show-page {
    position: relative;
    left: 2.5rem !important;
}

.btn-show-page {
    position: relative;
    left: 5rem !important;
}

.show-data-title {
    position: relative;
    right: 10rem !important;
}

@media (width<2000px) {
    .show-page {
        position: relative !important;
        right: 3.25rem !important;
    }
}

@media (width<1650px) {
    .show-page {
        position: relative !important;
        left: 2rem !important;
    }
}

@media (width<1195px) {
    .show-page {
        position: relative !important;
        right: 5rem !important;
    }
}

@media (width<775px) {
    .show-page {
        position: relative !important;
        left: 5rem !important;
    }
}

@media (width<450px) {
    .show-page {
        position: relative !important;
        left: 6rem !important;
    }
}

.show-data-title {
    margin-bottom: 1.5rem !important;
    margin-top: 0.5rem;
}

@media (width<2500px) {
    /* .show-page-main {
        width: 95% !important;
    } */

    .data-show-page {
        width: 95% !important;
    }

    .show-data-title {
        position: relative !important;
        right: 22rem !important;
    }

    .data-info {
        position: relative !important;
        right: 20rem !important;
    }

    .btn-show-page>div>form>button {
        position: relative !important;
        right: 9.5rem !important;
    }
}

@media (width<2250px) {
    /* .show-page-main {
        width: 90% !important;
    } */

    .data-show-page {
        width: 95% !important;
    }

    .show-data-title {
        position: relative !important;
        right: 24.5rem !important;
    }

    .data-info {
        position: relative !important;
        right: 22.5rem !important;
    }

    .btn-show-page>div>form>button {
        position: relative !important;
        right: 11.95rem !important;
    }
}

@media (width<1400px) {
    /* .show-page-main {
        width: 90% !important;
    } */

    .data-show-page {
        width: 95% !important;
    }

    .show-data-title {
        position: relative !important;
        right: 23.25rem !important;
    }

    .data-info {
        position: relative !important;
        right: 22.5rem !important;
    }

    .btn-show-page>div>form>button {
        position: relative !important;
        right: 12.5rem !important;
    }
}

@media (width<1200px) {
    /* .show-page-main {
        width: 90% !important;
    } */

    .data-show-page {
        width: 95% !important;
    }

    .show-data-title {
        position: relative !important;
        right: 21.75rem !important;
    }

    .data-info {
        position: relative !important;
        right: 21rem !important;
    }

    .btn-show-page>div>form>button {
        position: relative !important;
        right: 13.25rem !important;
    }
}

@media(max-width:990px) {

    HTML,
    body {
        width: 100%;
        /* overflow-x: scroll; */
        offset: none;
    }
}

@media (width<990px) {
    .data-show-page {
        width: 95% !important;
    }

    .show-data-title {
        position: relative !important;
        right: 15.75rem !important;
    }

    .data-info {
        position: relative !important;
        right: 15rem !important;
    }

    .btn-show-page>div>form>button {
        position: relative !important;
        right: 10rem !important;
    }
}

@media (width<752px) {
    .data-show-page {
        width: 100% !important;
    }

    .show-data-title {
        position: relative !important;
        right: 13.75rem !important;
    }

    .data-info {
        position: relative !important;
        right: 13.15rem !important;
    }

    .btn-show-page>div>form>button {
        position: relative !important;
        right: 9.5rem !important;
    }
}

@media (width<606px) {
    .data-show-page {
        width: 97.5% !important;
    }

    .show-data-title {
        position: relative !important;
        right: 11.5rem !important;
    }

    .data-info {
        position: relative !important;
        right: 11rem !important;
    }

    .btn-show-page>div>form>button {
        position: relative !important;
        right: 7.75rem !important;
    }
}

@media (width<515px) {
    .data-show-page {
        width: 99% !important;
    }

    .show-data-title {
        position: relative !important;
        right: 10.65rem !important;
    }

    .data-info {
        position: relative !important;
        right: 10rem !important;
    }

    .btn-show-page>div>form>button {
        position: relative !important;
        right: 6.925rem !important;
    }
}

@media (width<460px) {
    .data-show-page {
        width: 99% !important;
    }

    .show-data-title {
        position: relative !important;
        right: 9.25rem !important;
    }

    .data-info {
        position: relative !important;
        right: 8.5rem !important;
    }

    .btn-show-page>div>form>button {
        position: relative !important;
        right: 6.15rem !important;
    }
}

@media (width<400px) {
    .data-show-page {
        width: 99% !important;
    }

    .show-data-title {
        position: relative !important;
        right: 8rem !important;
    }

    .data-info {
        position: relative !important;
        right: 7.25rem !important;
    }

    .btn-show-page>div>form>button {
        position: relative !important;
        right: 5.65rem !important;
    }
}

@media (width<350px) {

    .data-show-page {
        width: 99% !important;
    }

    .show-data-title {
        position: relative !important;
        right: 6.5rem !important;
    }

    .data-info {
        position: relative !important;
        right: 6rem !important;
    }

    .btn-show-page>div>form>button {
        position: relative !important;
        right: 1.75rem !important;
        margin-left: 1rem;
    }
}

.abcd>div>.fa-compass {
    font-size: 2.75rem;
}

.review-card {
    width: 20rem !important;
    margin-bottom: 1rem !important;
    margin-left: 1rem !important;
    background-color: aliceblue !important;
}

.map {
    width: 100%;
}

#map {
    width: 100%;
    height: 400px;
    border-radius: 2.5%;
}

/* Filters*/

#filter {
    width: 100vh !important;
}

#filters>form>.filter-data {
    display: inline-block;
    text-decoration: none;
    color: #212529;
    margin-left: 2.22499rem;
    margin-top: 1.75rem;
    text-align: center;
    opacity: 0.7;
}

#filters>form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

#filters>form>.filter-data>label>p {
    font-size: 0.9rem;
}

#filters>form>.filter-data>label>i {
    font-size: 1.4rem;
}

#filters>form>.filter-data:hover {
    opacity: 1;
    cursor: pointer;
}

.taxInfo {
    display: none;
}

.tax-toggle {
    margin-top: 1.5rem;
    margin-left: 2.75rem;
    height: 3.025rem;
    border: 1px solid gray;
    border-radius: 15px;
    opacity: 0.75;
}

.tax-toggle:hover {
    cursor: pointer;
    opacity: 1;
}

.tax-toggle>div>input:hover,
.tax-toggle>div>label:hover {
    cursor: pointer;
}

.tax-toggle>div {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    height: 1.25rem;
    /* background-color: #212529; */
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.search-btn {
    color: white !important;
    background-color: #fe424f !important;
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem !important;
}

.search-box {
    border-radius: 25px !important;
    width: 27.5rem !important;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem !important;
}

.search-btn>i {
    display: inline !important;
    margin-right: 0.5rem;
}

#filters {
    display: flex !important;
    overflow-x: scroll !important;
    overflow-y: scroll !important;
    align-items: center;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {

    html,
    body {
        height: 100%;
        width: 100%;
        overflow: scroll !important;
    }

    #filters form{
        display: flex;
        align-items: center;
        margin-bottom: -16px;
        margin-top: 13px;
        width: 100%;
        height: 96px;
        overflow-xa: scroll !important;
        /* background-color: red; */
    }

    /* even number liya kr  bro */
}

/* #filters::-webkit-scrollbar {
    display: none;
} */

#filters .filter-data {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* .filter-width{
    display: flex !important;
    overflow-x: scroll;
    background-color: #fe424d;
} */