<% layout("/layout/boilerplate") -%>

    <body>
        <div id="contact-page-wrapper">
            <h1 class="unique-contact-title">Contact Us</h1>
            <div class="unique-contact-info">
                <ul class="unique-contact-list">
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        <a href="mailto:9330nama@gmail.com" class="theme-link">+91 6289190768</a>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i> <a href="mailto:9330nama@gmail.com"
                            class="theme-link">9330nama@gmail.com</a>
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i> 121/6 Kankinara, Kolkata, West Bengal, India
                    </li>
                </ul>
            </div>
        </div>
    </body>