<% layout("/layout/boilerplate") -%>

    <body>
        <main>
            <h1>Terms and Conditions</h1>
            <p>Welcome to NestNova. By accessing or using our website, you agree to comply with and be bound by the
                following terms and conditions.</p>
            <h2>1. Services</h2>
            <p>NestNova provides rental services for holiday homes. All bookings are subject to availability and
                confirmation.</p>
            <h2>2. Usage</h2>
            <p>You must be 18 years or older to use our services. Any fraudulent activity may result in legal action.
            </p>
            <h2>3. Liability</h2>
            <p>NestNova is not liable for damages or losses during the rental period. Customers are advised to ensure
                safety measures during their stay.</p>
            <h2>4. Amendments</h2>
            <p>We reserve the right to amend these terms at any time. Continued use of the website implies acceptance of
                the updated terms.</p>
        </main>
    </body>