<% layout('/layout/boilerplate') -%>

    <body>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <h2>Your Bookings</h2>
                    <% if (bookings.length> 0) { %>
                        <ul class="list-group">
                            <% bookings.forEach(booking=> { %>
                                <li class="list-group-item">
                                    <h5>
                                        <%= booking.listing.title %>
                                    </h5>
                                    <p>Price: <%= booking.listing.price %>
                                    </p>
                                    <p>Location: <%= booking.listing.location %>
                                    </p>
                                    <p>Booking Date: <%= booking.createdAt.toDateString() %>
                                    </p>
                                </li>
                                <% }) %>
                        </ul>
                        <% } else { %>
                            <p>No bookings found.</p>
                            <% } %>
                </div>
            </div>
        </div>
    </body>